<div class="profile">

  <figure class="profile__figure">
    <img src="https://avatars0.githubusercontent.com/u/1587748?s=100" alt="Foto de Bruno Bulnes" title="Foto de Bruno Bulnes" class="profile__photo" loading="lazy">

    <figcaption>
      <h1 class="profile__name">Bruno Bulnes</h1>
      <h2 class="profile__description">Front-End Web Developer</h2>
    </figcaption>
  </figure>

  <nav class="profile__links">
    <a href="/about.html" title="Um pouco sobre mim" class="profile__link">Sobre</a>
    <a href="/" title="Meus artigos" class="profile__link">Artigos</a>
  </nav>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Bruno Bulnes",
      "additionalName": "César",
      "url": "https://bulnes.github.io/",
      "image": "https://avatars0.githubusercontent.com/u/1587748",
      "sameAs": [
        "https://www.linkedin.com/in/brunocesarbulnes/",
        "https://github.com/bulnes"
      ],
      "jobTitle": "Front-End Web Developer",
      "worksFor": {
        "@type": "Organization",
        "name": "R7.com"
      }  
    }
    </script>
</div>