.article
  width: 100%
  margin: 5rem auto 10rem 
  word-wrap: break-word

  &__content 
    > * 
      margin: 0 auto 1.75rem
      max-width: 660px

    > p
      font-size: 1.2rem
    
    > span
      max-width: 660px
      display: inline-block

    > iframe
      margin: 0 auto 1.75em !important
      display: block !important

    > img
      display: block
      max-width: 100%
      margin: 0 auto 1.75em
      height: auto

    > figure
      width: 100%
      max-width: 1200px
      margin-bottom: 1.75em
      text-align: cente
    
    > blockquote, q
      border-color: $text-color-fade
      padding-left: 10px
    
    > ol, ul
      width: 100%
      margin-bottom: 1.75em
      padding-left: 1.375em

  &__header
    font-size: .875rem
    line-height: 1.5
    margin: 0 auto 1.5rem
    text-align: center

  &__title
    font-size: 3.25rem
    text-decoration: none

    @media screen and ( max-width: $mobile-default-breakpoint )
      font-size: 2rem
  
  &__author-photo
    border-radius: 50%
    height: 40px
    width: 40px
  
  &__author-name, &__date
    color: $text-color-fade
  
  &__keep-reading-container
    text-align: center

  &__keep-reading
    border: 1px solid $text-color-fade
    color: $text-color-fade
    display: inline-block
    margin-left: auto
    margin-right: auto
    padding: 0.5rem 1rem
    text-decoration: none
    transition: all .2s ease-out

    &:hover
      background-color: $text-color-fade
      color: white
