.article
  width: 100%
  margin: 5rem auto 10rem 
  word-wrap: break-word

  &__content 
    > * 
      margin: 0 auto 1.75rem
      max-width: 660px

    > p
      font-size: 1.1rem

  &__header
    font-size: .875rem
    line-height: 1.5
    margin: 0 auto 1.5rem
    text-align: center

  &__title
    font-size: 3.25rem
    text-decoration: none

    @media screen and ( max-width: $mobile-default-breakpoint )
      font-size: 2rem
  
  &__author-photo
    border-radius: 50%
    height: 40px
    width: 40px
  
  &__author-name, &__date
    color: $text-color-fade
