.articles
  list-style: none
  margin: 0
  padding: 0

  .article
    border: 1px solid $color-dark
    border-radius: $border-radius
    margin-bottom: 30px
    padding: 20px 10px
    padding-bottom: 10px

    *
      margin-bottom: auto

    &::after
      content: ' '
      background-color: $color-dark
      
      display: block
      height: 3px
      width: 100%
      
      position: absolute
      top: 0
      left: 0