.article
  display: flex
  flex-direction: column
  position: relative

  *
    margin-bottom: 1rem

  &__header
    border-bottom: 1px solid $color-dark
    margin-bottom: 30px
  
  &__title, &__date
    color: $color-default
    display: block
    
    text-decoration: none
  
  &__title
    font-size: $heading-size-4
  
  &__date
    font-size: $heading-size-6
  