.header
  display: flex
  align-items: center
  background-color: white
  padding: 2rem 0
  position: sticky
  top: 0
  z-index: 1

  &__title
    margin: 0
    text-decoration: none
    text-transform: uppercase

    &:hover
      text-decoration: underline

  &__nav-link
    color: $text-color-fade
    position: relative
    text-decoration: none
    margin-left: 2rem
  

  @media screen and ( max-width: $mobile-default-breakpoint )
    justify-content: space-between
    padding: 40px 1rem 

    &__title
      font-size: 1.5rem
    
    &__nav-link
      font-size: 1rem
      margin-left: 1rem
    