*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

html, body
  height: 100%
  width: 100%

body
  font-family: 'Josefin Sans', sans-serif
  line-height: 1.75
  padding-top: 4rem
  margin: 0
  overflow-x: hidden
  position: relative

  @media screen and ( max-width: $mobile-default-breakpoint )
    padding-top: 2rem

h1, h2, h3, h4, h5, h6
  font-weight: 700
  line-height: 1.2
  margin: 0 auto .5em

h1, h2, h3, h4, h5, h6, a
  color: $text-color-default

.main, .footer, .header
  max-width: 1200px
  padding: 0 20px
  margin: auto
  position: relative

.footer
  color: $text-color-fade
  font-size: .9rem
  padding-bottom: 20px
  text-align: center