$color-default: #333333
$color-bright: rgba(236, 240, 241, 1.0)
$color-dark: rgba(44, 62, 80, 1.0)

$border-radius: 5px
  
$font-family: "Roboto", Arial, Helvetica, sans-serif
$font-color: $color-default
$font-line-height: 1.6

// base 16px
$heading-size-1: 2.5625rem // 41px
$heading-size-2: 2.25rem // 36px
$heading-size-3: 1.9375rem // 31px
$heading-size-4: 1.625rem // 26px
$heading-size-5: 1.3125rem // 21px
$heading-size-6: 1rem // 16px

$media-break: 720px