@import "tailwindcss";

@theme {
  --color-background: #fafaf8;
  --color-card-background: #f5f5f5;
  --color-white: #ffffff;
  --color-headings: #252525;
  --color-paragraph: #333333;
  --color-link: #4b4b4b;
}

@theme inline {
  --font-headings: var(--font-outfit), sans-serif;
  --font-monospace: var(--font-roboto-mono), monospace;
}
